{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "semi": true
}
